{% extends "flights/layout.html" %}

{% block body %}
 <div class="container shadow p-3 mb-5 bg-body-tertiary rounded">
    <h1>Flights</h1>
    <ul>
        {% for flight in flights %}
            <li>
                <a
                 class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                 href="{% url 'flights:flight' flight.id %}">  
                    Flight {{ flight.id}}: {{ flight.origin }} to {{flight.destination}}
                </a>               
            </li>
        {% endfor%}
    </ul> 
 </div>
     
{% endblock %}